BYPASS = ''
SYSTEM_URL=''
ACADEMIC_URL=''
GOOGLE_SERVICE_ACCOUNT_PATH=./credentials/google-service-account.json

# One test case sheet + one test data sheet per module (login test cases/data live under personal-info).
PERSONAL_INFO_TESTCASE_SHEET_ID=""
PERSONAL_INFO_TESTDATA_SHEET_ID=""

ACADEMIC_TESTCASE_SHEET_ID=""
ACADEMIC_TESTDATA_SHEET_ID=""

STUDENT_AFFAIRS_TESTCASE_SHEET_ID=""
STUDENT_AFFAIRS_TESTDATA_SHEET_ID=""

GENERAL_ADMIN_TESTCASE_SHEET_ID=""
GENERAL_ADMIN_TESTDATA_SHEET_ID=""

ACCOUNTING_TESTCASE_SHEET_ID=""
ACCOUNTING_TESTDATA_SHEET_ID=""

STORE_TESTCASE_SHEET_ID=""
STORE_TESTDATA_SHEET_ID=""

REPORT_TESTCASE_SHEET_ID=""
REPORT_TESTDATA_SHEET_ID=""

INITIAL_SETUP_TESTCASE_SHEET_ID=""
INITIAL_SETUP_TESTDATA_SHEET_ID=""
